#resultImg{
	width:300px;
	height:200px;
}
p>img {
	height: 20px;
	width:20px;
}
p>span{
	font-weight:bold;
	position: relative;
	top: -6px;
	font-size:15px;
}

#message,#message1{
	color:#990000;
	font-weight:bold;
}
