#player {
	position: absolute;
	left: 40px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	height: 120px;
}
#computer {
	position: absolute;
	right: 40px;
	height: 120px;
}

#rps, #life, #explode, #motion, #compare {
	width: 320px;
	position: relative;
}

#explode1 {
	width: 30px;
	position: absolute;
	left: 125px;
	top: -10px;
	z-index: 1;
}
#explode2 {
	width: 80px;
	position: absolute;
	top: -10px;
	left: 125px;
	z-index: 1;
}
#explode3 {
	width: 20px;
	position: absolute;
	left: 175px;
	top: 45px;
	z-index: 1;
}
#explode4 {
	width: 40px;
	position: absolute;
	left: 125px;
	top: 40px;
	z-index: 1;
}
#explode5 {
	width: 40px;
	position: absolute;
	left: 105px;
	top: 15px;
	z-index: 1;
}
#explode6 {
	width: 40px;
	position: absolute;
	left: 175px;
	top: 5px;
	z-index: 1;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	/*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	 */
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

/* css for loading gif */
#loader {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 2;
}
@media screen and (orientation: portrait) {
	#loader {
		padding-top: 50%;
	}
}
@media screen and (orientation: landscape) {
	#loader {
		padding-top: 20%;
	}
}
a {
	width: 80px;
	position: relative;
	left: 7px;
}
#menu {
	position: relative;
}

#timer {
	color: white;
	font-size: 40px;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-text-stroke: 1px black;
}

@media screen and (min-width: 700px) {
	#player {
		left: 40px;
		height: 300px;
	}
	#computer {
		right: 40px;
		height: 300px;
	}

	#rps, #life, #explode, #motion, #compare {
		width: 700px;
	}

	#explode1 {
		width: 100px;
		left: 200px;
		top: 50px;
	}
	#explode2 {
		width: 160px;
		top: 20px;
		left: 250px;
	}
	#explode3 {
		width: 80px;
		left: 400px;
		top: 60px;
	}
	#explode4 {
		width: 70px;
		left: 300px;
		top: 80px;
	}
	#explode5 {
		width: 80px;
		left: 280px;
		top: 15px;
	}
	#explode6 {
		width: 160px;
		left: 300px;
		top: 50px;
	}
	#timer {
		font-size: 80px;
	}
}

.ui-page, .ui-panel-content-wrap {
	background: url(img/background/greatwall.png) !important;
	background-attachment: fixed;
	background-size: cover;
}

div .ui-page, .ui-content, .ui-btn {
	background: transparent;
}
