body {
}
#line1 {
	width: 60px;
	position: absolute;
	transform: rotate(120deg);
	-ms-transform: rotate(120deg); /* IE 9 */
	-webkit-transform: rotate(120deg); /* Opera, Chrome, and Safari */
	top: 72px;
	left: 35px;
}
#line2 {
	width: 60px;
	position: absolute;
	transform: rotate(-120deg);
	-ms-transform: rotate(-120deg); /* IE 9 */
	-webkit-transform: rotate(-120deg); /* Opera, Chrome, and Safari */
	top: 72px;
	left: 100px;
}
#line3 {
	width: 60px;
	position: absolute;
	top: 120px;
	left: 67px;
}
#paper {
	position: absolute;
	top: 0px;
	left: 67px;
}
#rock {
	top: 95px;
	position: absolute;
	left: 10px;
}
#scissors {
	top: 95px;
	left: 120px;
	position: absolute;
}

@media screen and (min-width: 700px) {
	#line1 {
		top: 110px;
		left: 190px;
	}
	#line2 {
		top: 110px;
		left: 290px;
	}
	#line3 {
		top: 190px;
		left: 240px;
	}
	#paper {
		top: 0px;
		left: 240px;
	}
	#rock {
		top: 150px;
		left: 150px;
	}
	#scissors {
		top: 150px;
		left: 320px;
	}
	#rps>img{
		width:100px;
	}
}