img{
	height:35px;
}
.fixsize{
	height:35px;
}
span{
	position:relative;
	top:-12px;
	border:none;
	font-weight:bold;
}
#gold,#exp{
	width:42px;
}
#goldexp,#attdef{
	position:relative;
	width:300px;
}
p{
	font-weight:bold;
	font-size:30px;
}
body{
	overflow: hidden;
}
