.level {
	width: 25px;
	height: 25px;
}

.locklevel {
	width: 0px;
	height: 25px;
}

body {
	overflow: auto;
}

#popup > div {
	width: 180px;
	text-align: center;
}

#difficulty > div >p>a{
margin:0px;	
}

#difficulty > div >p> .ui-btn-a {
	width: 130px;
}

#difficulty > div >p> .ui-btn-b {
	width: 108px;
}

[data-role="main"]{
    padding:3px;
}

@media screen and (min-width: 700px) {
	.level {
		width: 45px;
		height: 55px;
		font-size:30px;
	}
	.locklevel {
		width: 0px;
		height: 55px;
		font-size:30px;
	}
	li>a{
		size:50px;
	}
}
